html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  color: #333;
  font: normal 16px/32px 'Open Sans', sans-serif;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus-visible {
  outline: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

input, textarea, select {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

picture {
  font-size: 0;
  line-height: 0;
}